

.header {
   max-width: 830px;
}


.product-section {

  max-width: 850px;
  margin-top: 50px;

  .search-query {
    margin-left: 5px;
  }  

  .products {
    text-align: center;
  }

  @media (min-width: 767px) {
    .products {
      text-align: left;
    }
  }

}

@import "compass/css3/box-sizing";

.product {

  @include box-sizing(border-box);
  display: inline-block;
  position: relative;
  width: 200px;
  height: 450px;
  margin: 0 5px 10px 5px;
  padding: 5px;
  vertical-align: top;
  border: 1px solid #999;
  border-collapse: collapse;
  text-align: left;
  
  .name {
    font-size: 15px;
    line-height: 17px;
    margin-top: 10px;
  }

  .thumbnail {
    position: relative;
  }

  .editor-icon {
    bottom: 5px;
    right: 5px;
    position: absolute;
  }

  .sale-icon {
    top: 0;
    right: 0;
    position: absolute;
  }

  .prod-num-input {
    width: 30px;
  }

  .sale-price {
    color: #c0132f;
  }

  .product-form {
    position: absolute;
    bottom: 0;
  }

}


.cart {

  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 11px;
  line-height: 12px;

  .items {
    margin: 0 0 10px 0;

    h2 {
      border-bottom: 1px dotted #999;
      margin-bottom: 5px;
    }

    .item {  
      line-height: 20px;
      margin: 0 0 5px 0;
      border-bottom: 1px dotted #999;

    }

    .item-name {
      line-height: 11px;
    }

   


  }

  .shipping-msg, .free-shipping {
    color: red;
  }

  .icon-trash {
    vertical-align: middle;
  }

}