<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>S-Mart</title>
  <link rel="stylesheet" href="css/stylesheets/screen.css"/>
  <link rel="stylesheet" href="css/stylesheets/app.css"/>

</head>
<body>

  <div class="container" data-ng-controller="CartCtrl">

    <div class="row">
        <div class="span6">
          <h1>S-Mart</h1>
          <p>Shop smart. Shop S-Mart.</p>
        </div>
        <div class="span6">
          <h2>Cart</h2>
          <table class="table">
 
        <tbody>
          <tr data-ng-repeat="(key, item) in cart.items">
            <td>{{item.name}}</td>
            <td>
              Qty 
              <input type="number" style="width: 45px; padding: 1px" min="1" max="10" ng-model="item.qty" ng-change="updateQty(key, item.qty)"> <i class="icon-trash" data-ng-click="delete(key);" ></i>
            </td>
          </tr>
      
        </tbody>
      </table>

          <form name="shippingForm" class="form-inline product-form" ng-show="cart.items.length">
            <p class="" data-ng-show="!shipping">Select a shipping method</p>
            <div ng-repeat="(key, method) in cart.shippingmethods" class="row-fluid">
              <label><input type="radio" name="meaningless" ng-value="key" ng-model="$parent.shipping" />
              &nbsp;<span ng-bind="method.name"></span>: {{(cart.totals.price < 500 || method.name!='Ground') && (method.price | currency) || '$0'}}</label>
            </div>
          </form>

          <p>Number of items: {{cart.totals.qty}}</p>
          <p>Total price: {{cart.totals.price | currency}}</p>
          <p>Shipping: {{cart.totals.shipping | currency}}</p>
          <p>Subtotal: {{cart.totals.subtotal | currency}}</p>
          <p>Tax: {{cart.totals.tax | currency}}</p>
          <p>Total: {{cart.totals.total | currency}}</p>
 
          <p><a class="btn" href="#">Checkout »</a></p>
        </div>
        
      </div>
    <ul class="menu">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
    </ul>

    <div ng-view></div>
  </div>
  <div class="container products" data-ng-controller="ProductsCtrl">
    <div class="row">
      <form id="custom-search-form" class="form-search form-horizontal pull-left">
        <div class="input-append span12">
            <input type="text" class="search-query" placeholder="Search">
            <button type="submit" class="btn">Search</button>
        </div>
      </form>
    </div>

    <div class="row">
        <div data-ng-repeat="(key, product) in products" class="product">
          <div class="thumbnail">
            <img data-ng-src="{{product.img}}" alt="">
            <img class="editor-icon" data-ng-show="product.editorsPick" src="/img/icon_editor.png" width="14" height="14" alt=""/>
            <img class="sale-icon" data-ng-show="product.sale" src="/img/icon_sale.png" width="58" height="58" alt=""/>
          </div>
          <h3 class="name">{{product.name}}</h3>
          <p class="brand">{{product.brand}}</p>
          <p class="list-price {{product.sale==true && 'strikethru' || ''}}">List: {{product.listPrice | currency}}</p>
          <p class="sale-price" data-ng-show="product.sale">Sale: {{product.salePrice | currency}}</p>

          <form name="productForm" class="form-inline product-form" ng-submit="addToCart(key, qty)">
          
            <input name="qty" ng-model="qty" type="number" class="input-small prod-num-input" min="1" max="10" ng-value="1">

            <button type="submit" class="btn btn-small">Add to Cart »</button>
          </form>

        </div>
      
      </div>


  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
